<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="DbCriptPwd" value="N"/>
    <add key="DbCntWeb" value="N"/>
    <add key="PathTrelloFile" value="C:\temp\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="EmailGerente" value="fabio.romeiro@softtek.com"/>
    <add key="NomeGerente" value="Fabio"/>
    <add key="myTokenTrello" value="6629caf3d9b79dd4c913aa42995fd66e5c2e96027230c478334262f59f9dad3e"/>
    <add key="myKeyTrello" value="14f2d283255183a5ddccc6c110ce9ce5"/>
  </appSettings>
  <connectionStrings>
    <add name="DataBaseDefault" connectionString="Database=Trello;Data Source=v14stkbr05560.softtek.com\CWGASS;User Id=trello;Password=stk1234!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
